body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1808px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1576_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:355px;
  height:669px;
}
#u1576 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:64px;
  width:352px;
  height:666px;
}
#u1576_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:571px;
}
#u1577 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:116px;
  width:322px;
  height:570px;
}
#u1577_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1578_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:12px;
}
#u1578 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:77px;
  width:100px;
  height:9px;
}
#u1578_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:2px;
}
#u1579 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:638px;
  width:50px;
  height:1px;
}
#u1579_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:2px;
}
#u1580 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:638px;
  width:50px;
  height:1px;
}
#u1580_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1581_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:12px;
  height:12px;
}
#u1581 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:77px;
  width:9px;
  height:9px;
}
#u1581_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1582_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:10px;
}
#u1582 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:707px;
  width:100px;
  height:7px;
}
#u1582_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:24px;
}
#u1583 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:117px;
  width:321px;
  height:24px;
}
#u1583_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:48px;
}
#u1584 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:638px;
  width:321px;
  height:48px;
}
#u1584_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1586_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:355px;
  height:669px;
}
#u1586 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:64px;
  width:352px;
  height:666px;
}
#u1586_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:571px;
}
#u1587 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:116px;
  width:322px;
  height:570px;
}
#u1587_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1588_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:12px;
}
#u1588 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:77px;
  width:100px;
  height:9px;
}
#u1588_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:2px;
}
#u1589 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:638px;
  width:50px;
  height:1px;
}
#u1589_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:2px;
}
#u1590 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:638px;
  width:50px;
  height:1px;
}
#u1590_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1591_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:12px;
  height:12px;
}
#u1591 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:77px;
  width:9px;
  height:9px;
}
#u1591_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1592_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:10px;
}
#u1592 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:707px;
  width:100px;
  height:7px;
}
#u1592_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:24px;
}
#u1593 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:117px;
  width:321px;
  height:24px;
}
#u1593_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:48px;
}
#u1594 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:638px;
  width:321px;
  height:48px;
}
#u1594_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1596_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:355px;
  height:669px;
}
#u1596 {
  border-width:0px;
  position:absolute;
  left:1420px;
  top:64px;
  width:352px;
  height:666px;
}
#u1596_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:571px;
}
#u1597 {
  border-width:0px;
  position:absolute;
  left:1436px;
  top:116px;
  width:322px;
  height:570px;
}
#u1597_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1598_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:12px;
}
#u1598 {
  border-width:0px;
  position:absolute;
  left:1548px;
  top:77px;
  width:100px;
  height:9px;
}
#u1598_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:2px;
}
#u1599 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:638px;
  width:50px;
  height:1px;
}
#u1599_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:2px;
}
#u1600 {
  border-width:0px;
  position:absolute;
  left:1758px;
  top:638px;
  width:50px;
  height:1px;
}
#u1600_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1601_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:12px;
  height:12px;
}
#u1601 {
  border-width:0px;
  position:absolute;
  left:1688px;
  top:77px;
  width:9px;
  height:9px;
}
#u1601_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1602_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:10px;
}
#u1602 {
  border-width:0px;
  position:absolute;
  left:1548px;
  top:707px;
  width:100px;
  height:7px;
}
#u1602_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:24px;
}
#u1603 {
  border-width:0px;
  position:absolute;
  left:1437px;
  top:117px;
  width:321px;
  height:24px;
}
#u1603_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:48px;
}
#u1604 {
  border-width:0px;
  position:absolute;
  left:1437px;
  top:638px;
  width:321px;
  height:48px;
}
#u1604_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:65px;
}
#u1605 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:0px;
  width:36px;
  height:64px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u1605_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:36px;
  word-wrap:break-word;
}
#u1606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:65px;
}
#u1606 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:0px;
  width:324px;
  height:64px;
  font-size:18px;
  color:#000000;
}
#u1606_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:324px;
  word-wrap:break-word;
}
#u1607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:65px;
}
#u1607 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:0px;
  width:36px;
  height:64px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u1607_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:36px;
  word-wrap:break-word;
}
#u1608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:65px;
}
#u1608 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:0px;
  width:324px;
  height:64px;
  font-size:18px;
  color:#000000;
}
#u1608_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:324px;
  word-wrap:break-word;
}
#u1609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:65px;
}
#u1609 {
  border-width:0px;
  position:absolute;
  left:1417px;
  top:0px;
  width:36px;
  height:64px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u1609_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:36px;
  word-wrap:break-word;
}
#u1610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:65px;
}
#u1610 {
  border-width:0px;
  position:absolute;
  left:1453px;
  top:0px;
  width:324px;
  height:64px;
  font-size:18px;
  color:#000000;
}
#u1610_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:324px;
  word-wrap:break-word;
}
#u1612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:57px;
}
#u1612 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:141px;
  width:320px;
  height:56px;
}
#u1612_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:33px;
}
#u1613 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:153px;
  width:33px;
  height:32px;
  font-size:32px;
  color:#999999;
  text-align:left;
}
#u1613_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u1614 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:157px;
  width:25px;
  height:24px;
  font-size:24px;
  color:#999999;
  text-align:left;
}
#u1614_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u1615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:27px;
}
#u1615 {
  border-width:0px;
  position:absolute;
  left:1453px;
  top:173px;
  width:288px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#666666;
  text-align:center;
}
#u1615_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u1616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:281px;
}
#u1616 {
  border-width:0px;
  position:absolute;
  left:1457px;
  top:172px;
  width:280px;
  height:280px;
  opacity:0.3;
}
#u1616_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:224px;
}
#u1617 {
  border-width:0px;
  position:absolute;
  left:1485px;
  top:201px;
  width:223px;
  height:223px;
  opacity:0.5;
}
#u1617_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:175px;
}
#u1618 {
  border-width:0px;
  position:absolute;
  left:1510px;
  top:225px;
  width:174px;
  height:174px;
  opacity:0.7;
}
#u1618_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1619 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:73px;
}
#u1620 {
  border-width:0px;
  position:absolute;
  left:1485px;
  top:434px;
  width:73px;
  height:72px;
  font-size:32px;
  color:#999999;
  text-align:left;
}
#u1620_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:25px;
  white-space:nowrap;
}
#u1621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u1621 {
  border-width:0px;
  position:absolute;
  left:1485px;
  top:434px;
  width:72px;
  height:72px;
}
#u1621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:73px;
}
#u1623 {
  border-width:0px;
  position:absolute;
  left:1637px;
  top:434px;
  width:73px;
  height:72px;
  font-size:32px;
  color:#999999;
  text-align:left;
}
#u1623_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:25px;
  white-space:nowrap;
}
#u1624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u1624 {
  border-width:0px;
  position:absolute;
  left:1637px;
  top:434px;
  width:72px;
  height:72px;
}
#u1624_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:17px;
}
#u1625 {
  border-width:0px;
  position:absolute;
  left:1453px;
  top:517px;
  width:136px;
  height:16px;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u1625_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u1626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:17px;
}
#u1626 {
  border-width:0px;
  position:absolute;
  left:1605px;
  top:517px;
  width:136px;
  height:16px;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u1626_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u1627 {
  border-width:0px;
  position:absolute;
  left:1597px;
  top:384px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1627_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-1px;
  width:8px;
  height:27px;
}
#u1627_seg1 {
  border-width:0px;
  position:absolute;
  left:-79px;
  top:18px;
  width:83px;
  height:8px;
}
#u1627_seg2 {
  border-width:0px;
  position:absolute;
  left:-79px;
  top:18px;
  width:8px;
  height:32px;
}
#u1627_seg3 {
  border-width:0px;
  position:absolute;
  left:-84px;
  top:38px;
  width:18px;
  height:18px;
}
#u1627_text {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1628 {
  border-width:0px;
  position:absolute;
  left:1597px;
  top:384px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1628_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:26px;
}
#u1628_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:18px;
  width:85px;
  height:8px;
}
#u1628_seg2 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:18px;
  width:8px;
  height:32px;
}
#u1628_seg3 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:38px;
  width:18px;
  height:18px;
}
#u1628_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:145px;
}
#u1629 {
  border-width:0px;
  position:absolute;
  left:1524px;
  top:240px;
  width:145px;
  height:144px;
  font-size:80px;
  color:#FFFFFF;
  text-align:left;
}
#u1629_text {
  border-width:0px;
  position:absolute;
  left:32px;
  top:32px;
  width:61px;
  white-space:nowrap;
}
#u1630_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:147px;
  height:43px;
}
#u1630 {
  border-width:0px;
  position:absolute;
  left:1525px;
  top:567px;
  width:144px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1630_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:144px;
  word-wrap:break-word;
}
#u1631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
}
#u1631 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:159px;
  width:79px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#868686;
}
#u1631_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u1632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:61px;
}
#u1632 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:219px;
  width:288px;
  height:60px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  line-height:20px;
}
#u1632_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u1633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:73px;
}
#u1633 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:512px;
  width:73px;
  height:72px;
  font-size:32px;
  color:#999999;
  text-align:left;
}
#u1633_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:25px;
  white-space:nowrap;
}
#u1634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:73px;
}
#u1634 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:512px;
  width:73px;
  height:72px;
  font-size:32px;
  color:#999999;
  text-align:left;
}
#u1634_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:25px;
  white-space:nowrap;
}
#u1635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:73px;
}
#u1635 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:512px;
  width:73px;
  height:72px;
  font-size:32px;
  color:#999999;
  text-align:left;
}
#u1635_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:25px;
  white-space:nowrap;
}
#u1636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:13px;
}
#u1636 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:595px;
  width:81px;
  height:12px;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u1636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u1637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:13px;
}
#u1637 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:595px;
  width:81px;
  height:12px;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u1637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u1638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:13px;
}
#u1638 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:595px;
  width:81px;
  height:12px;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u1638_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u1639 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:452px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1639_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:27px;
}
#u1639_seg1 {
  border-width:0px;
  position:absolute;
  left:-111px;
  top:19px;
  width:115px;
  height:8px;
}
#u1639_seg2 {
  border-width:0px;
  position:absolute;
  left:-111px;
  top:19px;
  width:8px;
  height:41px;
}
#u1639_seg3 {
  border-width:0px;
  position:absolute;
  left:-116px;
  top:48px;
  width:18px;
  height:18px;
}
#u1639_text {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1640 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:452px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1640_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u1640_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:48px;
  width:18px;
  height:18px;
}
#u1640_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1641 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:452px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1641_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:27px;
}
#u1641_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:19px;
  width:116px;
  height:8px;
}
#u1641_seg2 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:19px;
  width:8px;
  height:42px;
}
#u1641_seg3 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:48px;
  width:18px;
  height:18px;
}
#u1641_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:145px;
}
#u1642 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:308px;
  width:145px;
  height:144px;
  font-size:80px;
  color:#F2F2F2;
  text-align:left;
}
#u1642_text {
  border-width:0px;
  position:absolute;
  left:32px;
  top:32px;
  width:61px;
  white-space:nowrap;
}
#u1643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:49px;
}
#u1643 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:145px;
  width:49px;
  height:48px;
  font-size:32px;
  color:#999999;
  text-align:left;
}
#u1643_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:25px;
  white-space:nowrap;
}
#u1645_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:355px;
  height:669px;
}
#u1645 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:64px;
  width:352px;
  height:666px;
}
#u1645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:571px;
}
#u1646 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:116px;
  width:322px;
  height:570px;
}
#u1646_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1647_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:12px;
}
#u1647 {
  border-width:0px;
  position:absolute;
  left:1086px;
  top:77px;
  width:100px;
  height:9px;
}
#u1647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:2px;
}
#u1648 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:638px;
  width:50px;
  height:1px;
}
#u1648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:2px;
}
#u1649 {
  border-width:0px;
  position:absolute;
  left:1296px;
  top:638px;
  width:50px;
  height:1px;
}
#u1649_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1650_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:12px;
  height:12px;
}
#u1650 {
  border-width:0px;
  position:absolute;
  left:1226px;
  top:77px;
  width:9px;
  height:9px;
}
#u1650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1651_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:10px;
}
#u1651 {
  border-width:0px;
  position:absolute;
  left:1086px;
  top:707px;
  width:100px;
  height:7px;
}
#u1651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:24px;
}
#u1652 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:117px;
  width:321px;
  height:24px;
}
#u1652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:48px;
}
#u1653 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:638px;
  width:321px;
  height:48px;
}
#u1653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:65px;
}
#u1654 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:0px;
  width:36px;
  height:64px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u1654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:36px;
  word-wrap:break-word;
}
#u1655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:65px;
}
#u1655 {
  border-width:0px;
  position:absolute;
  left:991px;
  top:0px;
  width:324px;
  height:64px;
  font-size:18px;
  color:#000000;
}
#u1655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:324px;
  word-wrap:break-word;
}
#u1656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:33px;
}
#u1656 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:152px;
  width:49px;
  height:32px;
  font-size:32px;
  color:#999999;
  text-align:left;
}
#u1656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u1658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:57px;
}
#u1658 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:141px;
  width:320px;
  height:56px;
}
#u1658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:33px;
}
#u1659 {
  border-width:0px;
  position:absolute;
  left:987px;
  top:153px;
  width:33px;
  height:32px;
  font-size:32px;
  color:#999999;
  text-align:left;
}
#u1659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u1660 {
  border-width:0px;
  position:absolute;
  left:1258px;
  top:157px;
  width:25px;
  height:24px;
  font-size:24px;
  color:#999999;
  text-align:left;
}
#u1660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u1661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
}
#u1661 {
  border-width:0px;
  position:absolute;
  left:1036px;
  top:159px;
  width:79px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#868686;
}
#u1661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u1662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:61px;
}
#u1662 {
  border-width:0px;
  position:absolute;
  left:991px;
  top:219px;
  width:288px;
  height:60px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  line-height:20px;
}
#u1662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u1663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:73px;
}
#u1663 {
  border-width:0px;
  position:absolute;
  left:1206px;
  top:512px;
  width:73px;
  height:72px;
  font-size:32px;
  color:#999999;
  text-align:left;
}
#u1663_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:25px;
  white-space:nowrap;
}
#u1664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
}
#u1664 {
  border-width:0px;
  position:absolute;
  left:987px;
  top:592px;
  width:81px;
  height:16px;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u1664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u1665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
}
#u1665 {
  border-width:0px;
  position:absolute;
  left:1094px;
  top:592px;
  width:81px;
  height:16px;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u1665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u1666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:13px;
}
#u1666 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:595px;
  width:81px;
  height:12px;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u1666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u1667 {
  border-width:0px;
  position:absolute;
  left:1135px;
  top:452px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u1667_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u1667_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:48px;
  width:18px;
  height:18px;
}
#u1667_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1668_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-6px;
  width:166px;
  height:165px;
}
#u1668 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:308px;
  width:145px;
  height:144px;
  font-size:80px;
  color:#CCCCCC;
  text-align:left;
}
#u1668_text {
  border-width:0px;
  position:absolute;
  left:32px;
  top:32px;
  width:61px;
  white-space:nowrap;
  text-shadow:1px 1px 1px rgba(0, 0, 0, 0.298039215686275);
  -webkit-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.298039215686275);
  -moz-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.298039215686275);
}
#u1669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u1669 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:512px;
  width:72px;
  height:72px;
}
#u1669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u1670 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:512px;
  width:72px;
  height:72px;
}
#u1670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:49px;
}
#u1671 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:145px;
  width:49px;
  height:48px;
  font-size:32px;
  color:#999999;
  text-align:left;
}
#u1671_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:25px;
  white-space:nowrap;
}
#u1672 {
  border-width:0px;
  position:absolute;
  left:1135px;
  top:452px;
  width:0px;
  height:0px;
  font-size:14px;
  color:#666666;
}
#u1672_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u1672_seg1 {
  border-width:0px;
  position:absolute;
  left:-111px;
  top:22px;
  width:115px;
  height:8px;
}
#u1672_seg2 {
  border-width:0px;
  position:absolute;
  left:-111px;
  top:22px;
  width:8px;
  height:38px;
}
#u1672_seg3 {
  border-width:0px;
  position:absolute;
  left:-116px;
  top:48px;
  width:18px;
  height:18px;
}
#u1672_text {
  border-width:0px;
  position:absolute;
  left:-108px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1673 {
  border-width:0px;
  position:absolute;
  left:1135px;
  top:452px;
  width:0px;
  height:0px;
  font-size:14px;
  color:#666666;
}
#u1673_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u1673_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:22px;
  width:116px;
  height:8px;
}
#u1673_seg2 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:22px;
  width:8px;
  height:38px;
}
#u1673_seg3 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:48px;
  width:18px;
  height:18px;
}
#u1673_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:33px;
}
#u1674 {
  border-width:0px;
  position:absolute;
  left:1240px;
  top:152px;
  width:49px;
  height:32px;
  font-size:32px;
  color:#999999;
  text-align:left;
}
#u1674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u1675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:49px;
}
#u1675 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:265px;
  width:320px;
  height:48px;
}
#u1675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:19px;
}
#u1676 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:280px;
  width:195px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u1677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1677 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:273px;
  width:32px;
  height:32px;
  font-size:9px;
  color:#999999;
}
#u1677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:49px;
}
#u1678 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:458px;
  width:320px;
  height:48px;
}
#u1678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:19px;
}
#u1679 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:473px;
  width:195px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AEAEAE;
}
#u1679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u1680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1680 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:466px;
  width:32px;
  height:32px;
  opacity:0.5;
  font-size:9px;
  color:#999999;
}
#u1680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:49px;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:313px;
  width:320px;
  height:48px;
}
#u1681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:19px;
}
#u1682 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:328px;
  width:195px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u1683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u1683 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:325px;
  width:25px;
  height:24px;
  font-size:24px;
  color:#CCCCCC;
  text-align:left;
}
#u1683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u1684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1684 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:321px;
  width:32px;
  height:32px;
  font-size:9px;
  color:#999999;
}
#u1684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:49px;
}
#u1685 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:362px;
  width:320px;
  height:48px;
}
#u1685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:19px;
}
#u1686 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:377px;
  width:195px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u1687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u1687 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:374px;
  width:25px;
  height:24px;
  font-size:24px;
  color:#CCCCCC;
  text-align:left;
}
#u1687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u1688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1688 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:370px;
  width:32px;
  height:32px;
  font-size:9px;
  color:#999999;
}
#u1688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:49px;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:410px;
  width:320px;
  height:48px;
}
#u1689_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:19px;
}
#u1690 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:425px;
  width:195px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AEAEAE;
}
#u1690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u1691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1691 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:418px;
  width:32px;
  height:32px;
  opacity:0.5;
  font-size:9px;
  color:#999999;
}
#u1691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u1692 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:473px;
  width:19px;
  height:18px;
  font-size:18px;
  color:#CCCCCC;
  text-align:left;
}
#u1692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u1693 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:425px;
  width:19px;
  height:18px;
  font-size:18px;
  color:#CCCCCC;
  text-align:left;
}
#u1693_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1694 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:57px;
}
#u1695 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:582px;
  width:320px;
  height:56px;
}
#u1695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u1696 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:598px;
  width:25px;
  height:24px;
  font-size:24px;
  color:#CCCCCC;
  text-align:left;
}
#u1696_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u1697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:19px;
}
#u1697 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:601px;
  width:195px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u1697_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u1698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:33px;
}
#u1698 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:594px;
  width:33px;
  height:32px;
  font-size:32px;
  color:#CCCCCC;
  text-align:left;
}
#u1698_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:33px;
}
#u1699 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:233px;
  width:288px;
  height:32px;
  font-size:12px;
  color:#999999;
}
#u1699_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:288px;
  word-wrap:break-word;
}
#u1700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u1700 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:277px;
  width:25px;
  height:24px;
  font-size:24px;
  color:#CCCCCC;
  text-align:left;
}
#u1700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u1702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:57px;
}
#u1702 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:141px;
  width:320px;
  height:56px;
}
#u1702_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:33px;
}
#u1703 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:153px;
  width:33px;
  height:32px;
  font-size:32px;
  color:#999999;
  text-align:left;
}
#u1703_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u1704 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:157px;
  width:25px;
  height:24px;
  font-size:24px;
  color:#999999;
  text-align:left;
}
#u1704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u1705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u1705 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:159px;
  width:100px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#868686;
}
#u1705_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:49px;
}
#u1706 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:145px;
  width:49px;
  height:48px;
  font-size:32px;
  color:#999999;
  text-align:left;
}
#u1706_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:25px;
  white-space:nowrap;
}
#u1707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:33px;
}
#u1707 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:152px;
  width:49px;
  height:32px;
  font-size:32px;
  color:#999999;
  text-align:left;
}
#u1707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u1708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:49px;
}
#u1708 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:145px;
  width:49px;
  height:48px;
  font-size:32px;
  color:#999999;
  text-align:left;
}
#u1708_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:25px;
  white-space:nowrap;
}
#u1709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
}
#u1709 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:160px;
  width:36px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u1709_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u1711_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:0px;
  width:41px;
  height:42px;
}
#u1711 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:292px;
  width:32px;
  height:32px;
  opacity:0.95;
}
#u1711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:38px;
}
#u1712 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:288px;
  width:34px;
  height:37px;
  -webkit-transform:rotate(335deg);
  -moz-transform:rotate(335deg);
  -ms-transform:rotate(335deg);
  transform:rotate(335deg);
}
#u1712_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
