body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1998px;
}
#u5338 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:1600px;
  height:1998px;
}
#u5338_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:628px;
}
#u5339 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:630px;
  width:1380px;
  height:628px;
}
#u5339_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1234px;
  height:478px;
}
#u5340 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:703px;
  width:1234px;
  height:478px;
}
#u5340_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5341 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:42px;
}
#u5343 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:383px;
  width:154px;
  height:42px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u5343_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u5344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:904px;
  height:50px;
}
#u5344 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:446px;
  width:904px;
  height:50px;
  font-size:18px;
  text-align:center;
  line-height:25px;
}
#u5344_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:904px;
  word-wrap:break-word;
}
#u5345 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1379px;
  height:184px;
}
#u5347 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:100px;
  width:1379px;
  height:184px;
}
#u5347_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:108px;
}
#u5348 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:177px;
  width:70px;
  height:107px;
  font-size:18px;
}
#u5348_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:66px;
  white-space:nowrap;
}
#u5349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:108px;
}
#u5349 {
  border-width:0px;
  position:absolute;
  left:849px;
  top:177px;
  width:64px;
  height:107px;
  font-size:18px;
}
#u5349_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:60px;
  white-space:nowrap;
}
#u5350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:108px;
}
#u5350 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:177px;
  width:149px;
  height:107px;
  font-size:18px;
}
#u5350_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:145px;
  white-space:nowrap;
}
#u5351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:108px;
}
#u5351 {
  border-width:0px;
  position:absolute;
  left:1161px;
  top:177px;
  width:71px;
  height:107px;
  font-size:18px;
}
#u5351_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:67px;
  white-space:nowrap;
}
#u5352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:108px;
}
#u5352 {
  border-width:0px;
  position:absolute;
  left:1281px;
  top:177px;
  width:97px;
  height:107px;
  font-size:18px;
}
#u5352_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:93px;
  white-space:nowrap;
}
#u5353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:108px;
}
#u5353 {
  border-width:0px;
  position:absolute;
  left:1427px;
  top:177px;
  width:62px;
  height:107px;
  font-size:18px;
}
#u5353_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:58px;
  white-space:nowrap;
}
#u5354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:77px;
}
#u5355 {
  border-width:0px;
  position:absolute;
  left:1488px;
  top:100px;
  width:112px;
  height:76px;
}
#u5355_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:109px;
}
#u5356 {
  border-width:0px;
  position:absolute;
  left:1488px;
  top:176px;
  width:112px;
  height:108px;
}
#u5356_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:77px;
}
#u5358 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:111px;
  height:76px;
}
#u5358_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:109px;
}
#u5359 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:176px;
  width:111px;
  height:108px;
}
#u5359_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1004px;
  height:76px;
}
#u5360 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:100px;
  width:1003px;
  height:75px;
  font-size:14px;
}
#u5360_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5361 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:76px;
}
#u5362 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:100px;
  width:62px;
  height:75px;
  font-size:14px;
}
#u5362_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:58px;
  white-space:nowrap;
}
#u5363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:76px;
}
#u5363 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:100px;
  width:108px;
  height:75px;
  font-size:14px;
}
#u5363_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:104px;
  white-space:nowrap;
}
#u5364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:76px;
}
#u5364 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:100px;
  width:78px;
  height:75px;
  font-size:14px;
  color:#0000FF;
}
#u5364_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:74px;
  white-space:nowrap;
}
#u5365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:76px;
}
#u5365 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:100px;
  width:78px;
  height:75px;
  font-size:14px;
}
#u5365_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:74px;
  white-space:nowrap;
}
#u5366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:76px;
}
#u5366 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:100px;
  width:56px;
  height:75px;
  font-size:14px;
  color:#0000FF;
}
#u5366_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:52px;
  white-space:nowrap;
}
#u5367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5368 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u5369 {
  border-width:0px;
  position:absolute;
  left:1111px;
  top:125px;
  width:27px;
  height:27px;
  color:#1E1E1E;
}
#u5369_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u5370 {
  border-width:0px;
  position:absolute;
  left:1158px;
  top:125px;
  width:27px;
  height:27px;
  color:#1E1E1E;
}
#u5370_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u5371 {
  border-width:0px;
  position:absolute;
  left:1250px;
  top:125px;
  width:27px;
  height:27px;
  color:#1E1E1E;
}
#u5371_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u5372 {
  border-width:0px;
  position:absolute;
  left:1204px;
  top:125px;
  width:27px;
  height:27px;
  color:#1E1E1E;
}
#u5372_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u5373 {
  border-width:0px;
  position:absolute;
  left:1297px;
  top:125px;
  width:27px;
  height:27px;
  color:#1E1E1E;
}
#u5373_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:140px;
}
#u5374 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:104px;
  width:196px;
  height:140px;
  font-size:36px;
  color:#FFFFFF;
}
#u5374_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:192px;
  word-wrap:break-word;
}
#u5375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5376_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:1398px;
  height:19px;
}
#u5376p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:1384px;
  height:6px;
}
#u5376p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1384px;
  height:6px;
}
#u5376p001 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-9px;
  width:24px;
  height:20px;
}
#u5376p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u5376p002 {
  border-width:0px;
  position:absolute;
  left:1366px;
  top:-9px;
  width:24px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u5376p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u5376 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:57px;
  width:1380px;
  height:1px;
}
#u5376_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u5377 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:50px;
  width:51px;
  height:16px;
}
#u5377_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u5378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:60px;
}
#u5378 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:283px;
  width:1600px;
  height:60px;
  font-size:16px;
  color:#0000FF;
  text-align:left;
}
#u5378_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:50px;
}
#u5379 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:496px;
  width:1380px;
  height:50px;
}
#u5379_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:100px;
}
#u5380 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:283px;
  width:1380px;
  height:100px;
}
#u5380_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5381 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:24px;
}
#u5382 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:546px;
  width:47px;
  height:24px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5382_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u5383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
}
#u5383 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:546px;
  width:42px;
  height:24px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5383_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u5384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:24px;
}
#u5384 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:546px;
  width:122px;
  height:24px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5384_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u5385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:24px;
}
#u5385 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:546px;
  width:46px;
  height:24px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5385_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u5386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
}
#u5386 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:546px;
  width:72px;
  height:24px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5386_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u5387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
}
#u5387 {
  border-width:0px;
  position:absolute;
  left:1107px;
  top:546px;
  width:37px;
  height:24px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5387_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5388_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:27px;
  height:37px;
}
#u5388 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:546px;
  width:24px;
  height:34px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5388_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u5389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:50px;
}
#u5389 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:580px;
  width:1380px;
  height:50px;
}
#u5389_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:528px;
}
#u5391 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:1485px;
  width:1380px;
  height:528px;
}
#u5391_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:438px;
}
#u5392 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:1660px;
  width:1400px;
  height:438px;
}
#u5392_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:98px;
}
#u5393 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1387px;
  width:1600px;
  height:98px;
  color:#0000FF;
  line-height:32px;
}
#u5393_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:1596px;
  word-wrap:break-word;
}
#u5394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:438px;
}
#u5394 {
  border-width:0px;
  position:absolute;
  left:1400px;
  top:1660px;
  width:200px;
  height:438px;
}
#u5394_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5395_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:803px;
  height:178px;
}
#u5395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1485px;
  width:800px;
  height:175px;
}
#u5395_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:438px;
}
#u5396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1660px;
  width:110px;
  height:438px;
}
#u5396_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5397 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
}
#u5399 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:1754px;
  width:77px;
  height:17px;
  font-size:15px;
  color:#FFFFFF;
}
#u5399_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u5400 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
}
#u5401 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:1780px;
  width:77px;
  height:17px;
  font-size:15px;
  color:#0000FF;
}
#u5401_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u5402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u5402 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:1805px;
  width:40px;
  height:17px;
  font-size:15px;
  color:#0000FF;
}
#u5402_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u5403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u5403 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:1831px;
  width:54px;
  height:17px;
  font-size:15px;
  color:#0000FF;
}
#u5403_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u5404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
}
#u5404 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:1857px;
  width:51px;
  height:17px;
  font-size:15px;
  color:#0000FF;
}
#u5404_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u5405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
}
#u5405 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:1882px;
  width:113px;
  height:17px;
  font-size:15px;
  color:#0000FF;
}
#u5405_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u5406 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:1721px;
  width:50px;
  height:17px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u5406_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u5407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:17px;
}
#u5408 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:1721px;
  width:102px;
  height:17px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#0000FF;
}
#u5408_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u5409 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u5410 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:1754px;
  width:40px;
  height:17px;
  font-size:15px;
  color:#0000FF;
}
#u5410_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u5411 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u5412 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:1780px;
  width:40px;
  height:17px;
  font-size:15px;
  color:#0000FF;
}
#u5412_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u5413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u5413 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:1805px;
  width:40px;
  height:17px;
  font-size:15px;
  color:#0000FF;
}
#u5413_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u5414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u5414 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:1831px;
  width:40px;
  height:17px;
  font-size:15px;
  color:#0000FF;
}
#u5414_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u5415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u5415 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:1857px;
  width:40px;
  height:17px;
  font-size:15px;
  color:#0000FF;
}
#u5415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u5416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u5416 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:1882px;
  width:40px;
  height:17px;
  font-size:15px;
  color:#0000FF;
}
#u5416_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u5417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u5418 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:1754px;
  width:40px;
  height:17px;
  font-size:15px;
  color:#0000FF;
}
#u5418_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u5419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u5420 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:1780px;
  width:40px;
  height:17px;
  font-size:15px;
  color:#0000FF;
}
#u5420_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u5421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u5421 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:1805px;
  width:40px;
  height:17px;
  font-size:15px;
  color:#0000FF;
}
#u5421_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u5422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u5422 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:1831px;
  width:40px;
  height:17px;
  font-size:15px;
  color:#0000FF;
}
#u5422_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u5423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u5423 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:1857px;
  width:40px;
  height:17px;
  font-size:15px;
  color:#0000FF;
}
#u5423_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u5424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u5424 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:1882px;
  width:40px;
  height:17px;
  font-size:15px;
  color:#0000FF;
}
#u5424_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u5425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:17px;
}
#u5426 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:1721px;
  width:167px;
  height:17px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#0000FF;
}
#u5426_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u5427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:17px;
}
#u5428 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:1754px;
  width:74px;
  height:17px;
  font-size:15px;
  color:#0000FF;
}
#u5428_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u5429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:17px;
}
#u5430 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:1780px;
  width:38px;
  height:17px;
  font-size:15px;
  color:#0000FF;
}
#u5430_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u5431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
}
#u5432 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:2063px;
  width:197px;
  height:16px;
  color:#0000FF;
}
#u5432_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u5433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:16px;
}
#u5433 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:2063px;
  width:560px;
  height:16px;
  font-size:14px;
  color:#0000FF;
  text-align:right;
}
#u5433_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
#u5434 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5435 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
}
#u5436 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:1754px;
  width:36px;
  height:17px;
  font-size:15px;
  color:#FFFFFF;
}
#u5436_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u5437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:17px;
}
#u5438 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:1780px;
  width:32px;
  height:17px;
  font-size:15px;
  color:#FFFFFF;
}
#u5438_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u5439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:17px;
}
#u5439 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:1805px;
  width:93px;
  height:17px;
  font-size:15px;
  color:#FFFFFF;
}
#u5439_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u5440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:17px;
}
#u5440 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:1831px;
  width:35px;
  height:17px;
  font-size:15px;
  color:#FFFFFF;
}
#u5440_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u5441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u5441 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:1857px;
  width:54px;
  height:17px;
  font-size:15px;
  color:#FFFFFF;
}
#u5441_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u5442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u5442 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:1882px;
  width:29px;
  height:17px;
  font-size:15px;
  color:#FFFFFF;
}
#u5442_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u5443 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:1721px;
  width:66px;
  height:17px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u5443_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5444_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:803px;
  height:178px;
}
#u5444 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:1485px;
  width:800px;
  height:175px;
}
#u5444_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5445 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:29px;
}
#u5446 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:1559px;
  width:295px;
  height:29px;
}
#u5446_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:54px;
}
#u5447 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:1546px;
  width:311px;
  height:54px;
}
#u5447_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5448 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:23px;
}
#u5449 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:1562px;
  width:126px;
  height:23px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u5449_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u5450 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5451 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:1554px;
  width:40px;
  height:40px;
}
#u5451_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5452 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:1554px;
  width:40px;
  height:40px;
}
#u5452_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5453 {
  border-width:0px;
  position:absolute;
  left:1222px;
  top:1554px;
  width:40px;
  height:40px;
}
#u5453_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5454 {
  border-width:0px;
  position:absolute;
  left:1153px;
  top:1554px;
  width:40px;
  height:40px;
}
#u5454_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5455 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:1554px;
  width:40px;
  height:40px;
}
#u5455_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:19px;
}
#u5456 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:1983px;
  width:480px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u5456_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u5457_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1073px;
  height:5px;
}
#u5457 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:1943px;
  width:1070px;
  height:2px;
}
#u5457_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u5458 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:1973px;
  width:180px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
}
#u5458_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u5459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:42px;
}
#u5459 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:1710px;
  width:107px;
  height:42px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u5459_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u5460 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  height:72px;
}
#u5461 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:806px;
  width:633px;
  height:72px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
  line-height:36px;
}
#u5461_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  white-space:nowrap;
}
#u5462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:904px;
  height:25px;
}
#u5463 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:981px;
  width:904px;
  height:25px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
  line-height:25px;
}
#u5463_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:904px;
  word-wrap:break-word;
}
#u5464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:54px;
}
#u5464 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:1024px;
  width:311px;
  height:54px;
}
#u5464_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5465_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:53px;
  height:5px;
}
#u5465 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:934px;
  width:50px;
  height:2px;
}
#u5465_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
