body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:884px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1815_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:355px;
  height:669px;
}
#u1815 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:64px;
  width:352px;
  height:666px;
}
#u1815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:571px;
}
#u1816 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:116px;
  width:322px;
  height:570px;
}
#u1816_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1817_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:12px;
}
#u1817 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:77px;
  width:100px;
  height:9px;
}
#u1817_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:2px;
}
#u1818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:638px;
  width:50px;
  height:1px;
}
#u1818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:2px;
}
#u1819 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:638px;
  width:50px;
  height:1px;
}
#u1819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1820_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:12px;
  height:12px;
}
#u1820 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:77px;
  width:9px;
  height:9px;
}
#u1820_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1821_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:10px;
}
#u1821 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:707px;
  width:100px;
  height:7px;
}
#u1821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:24px;
}
#u1822 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:117px;
  width:321px;
  height:24px;
}
#u1822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:48px;
}
#u1823 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:638px;
  width:321px;
  height:48px;
}
#u1823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1825_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:355px;
  height:669px;
}
#u1825 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:64px;
  width:352px;
  height:666px;
}
#u1825_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:571px;
}
#u1826 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:116px;
  width:322px;
  height:570px;
}
#u1826_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1827_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:12px;
}
#u1827 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:77px;
  width:100px;
  height:9px;
}
#u1827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:2px;
}
#u1828 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:638px;
  width:50px;
  height:1px;
}
#u1828_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:2px;
}
#u1829 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:638px;
  width:50px;
  height:1px;
}
#u1829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1830_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:12px;
  height:12px;
}
#u1830 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:77px;
  width:9px;
  height:9px;
}
#u1830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1831_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:10px;
}
#u1831 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:707px;
  width:100px;
  height:7px;
}
#u1831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:24px;
}
#u1832 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:117px;
  width:321px;
  height:24px;
}
#u1832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:48px;
}
#u1833 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:638px;
  width:321px;
  height:48px;
}
#u1833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:65px;
}
#u1834 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:0px;
  width:36px;
  height:64px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u1834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:36px;
  word-wrap:break-word;
}
#u1835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:65px;
}
#u1835 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:0px;
  width:324px;
  height:64px;
  font-size:18px;
  color:#000000;
}
#u1835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:324px;
  word-wrap:break-word;
}
#u1836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:65px;
}
#u1836 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:0px;
  width:36px;
  height:64px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u1836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:36px;
  word-wrap:break-word;
}
#u1837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:65px;
}
#u1837 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:0px;
  width:324px;
  height:64px;
  font-size:18px;
  color:#000000;
}
#u1837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:324px;
  word-wrap:break-word;
}
#u1838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:253px;
}
#u1839 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:169px;
  width:252px;
  height:252px;
  opacity:0.3;
}
#u1839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:201px;
}
#u1840 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:194px;
  width:200px;
  height:200px;
  opacity:0.5;
}
#u1840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:157px;
}
#u1841 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:217px;
  width:156px;
  height:156px;
  opacity:0.7;
}
#u1841_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:49px;
}
#u1842 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:160px;
  width:288px;
  height:48px;
  font-size:20px;
  text-align:center;
  line-height:24px;
}
#u1842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u1843_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:291px;
  height:51px;
}
#u1843 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:577px;
  width:288px;
  height:48px;
  font-size:14px;
  color:#999999;
}
#u1843_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:288px;
  word-wrap:break-word;
}
#u1844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u1844 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:231px;
  width:128px;
  height:128px;
}
#u1844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1845_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:293px;
  height:93px;
}
#u1845 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:400px;
  width:288px;
  height:88px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u1845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:55px;
}
#u1846 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:417px;
  width:165px;
  height:54px;
  line-height:18px;
}
#u1846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  word-wrap:break-word;
}
#u1847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u1847 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:401px;
  width:88px;
  height:88px;
}
#u1847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
}
#u1848 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:463px;
  width:46px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
  line-height:18px;
}
#u1848_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:29px;
  white-space:nowrap;
}
#u1849_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:139px;
  height:51px;
}
#u1849 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:515px;
  width:136px;
  height:48px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#E4E4E4;
  text-align:right;
}
#u1849_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:122px;
  word-wrap:break-word;
}
#u1850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u1850 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:527px;
  width:25px;
  height:24px;
  font-size:24px;
  color:#999999;
  text-align:left;
}
#u1850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u1851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u1851 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:307px;
  width:49px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#999999;
  text-align:center;
}
#u1851_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u1852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:97px;
}
#u1853 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:273px;
  width:97px;
  height:96px;
  font-size:96px;
  color:#999999;
  text-align:left;
}
#u1853_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1854 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:273px;
  width:98px;
  height:78px;
  overflow:hidden;
}
#u1854_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:78px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1854_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:97px;
}
#u1855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:96px;
  font-size:96px;
  color:#E4E4E4;
  text-align:left;
}
#u1855_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1856_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:139px;
  height:51px;
}
#u1856 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:515px;
  width:136px;
  height:48px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#E4E4E4;
}
#u1856_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:136px;
  word-wrap:break-word;
}
#u1857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u1857 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:527px;
  width:25px;
  height:24px;
  font-size:24px;
  color:#999999;
  text-align:left;
}
#u1857_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u1858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:49px;
}
#u1858 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:168px;
  width:204px;
  height:48px;
  font-size:20px;
  line-height:24px;
}
#u1858_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  word-wrap:break-word;
}
#u1859_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:291px;
  height:51px;
}
#u1859 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:577px;
  width:288px;
  height:48px;
  font-size:14px;
  color:#999999;
}
#u1859_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:288px;
  word-wrap:break-word;
}
#u1860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u1860 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:160px;
  width:68px;
  height:68px;
}
#u1860_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1861_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:293px;
  height:93px;
}
#u1861 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:400px;
  width:288px;
  height:88px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u1861_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:55px;
}
#u1862 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:417px;
  width:165px;
  height:54px;
  line-height:18px;
}
#u1862_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  word-wrap:break-word;
}
#u1863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u1863 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:401px;
  width:88px;
  height:88px;
}
#u1863_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
}
#u1864 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:463px;
  width:46px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
  line-height:18px;
}
#u1864_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:29px;
  white-space:nowrap;
}
#u1865_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:139px;
  height:51px;
}
#u1865 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:515px;
  width:136px;
  height:48px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#E4E4E4;
  text-align:right;
}
#u1865_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:122px;
  word-wrap:break-word;
}
#u1866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u1866 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:527px;
  width:25px;
  height:24px;
  font-size:24px;
  color:#999999;
  text-align:left;
}
#u1866_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u1867_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:139px;
  height:51px;
}
#u1867 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:515px;
  width:136px;
  height:48px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#E4E4E4;
}
#u1867_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:136px;
  word-wrap:break-word;
}
#u1868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u1868 {
  border-width:0px;
  position:absolute;
  left:691px;
  top:527px;
  width:25px;
  height:24px;
  font-size:24px;
  color:#999999;
  text-align:left;
}
#u1868_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u1869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:2px;
}
#u1869 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:249px;
  width:288px;
  height:1px;
  color:#E4E4E4;
}
#u1869_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
